# Archivos de construcción (generados automáticamente)
.gradle
/build
/*/build

# Configuración local de tu PC (NUNCA subir esto, tiene la ruta de tu SDK)
local.properties

# Archivos de la IDE (Android Studio / IntelliJ)
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml

# Archivos de sistema y temporales
.DS_Store
/captures
.externalNativeBuild
.cxx